<div class="container" style="margin-top: 70px;">
  <div>
    <h2 class="text-center">Înregistrare</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div>
        <form [formGroup]="form" (ngSubmit)="signUp()">
          <formly-form [form]="form" [fields]="fields" [model]="user"></formly-form>
          <div class="mt-5 text-center">
            <button (click)="signUp()" [disabled]="form.invalid" class="btn btn-primary">Înregistrează user
            </button>
            <button class="btn btn-secondary ml-2" routerLink="/login">Ai deja un cont?
            </button>
          </div>
          <div *ngIf="userIsCreated" class="mt-5 text-center">
            <ngb-alert (close)="close()" [type]="'success'">Contul a fost creat!
            </ngb-alert>
          </div>
          <div *ngIf="userIsNotCreated" class="mt-5 text-center">
            <ngb-alert (close)="close()" [type]="'error'">Contul nu a putut fi creat! Te rugăm folosește o altă adresă
              de email.
            </ngb-alert>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
