<div class="container" style="margin-top: 70px;">
  <div>
    <h2 class="text-center">Inregisteaza-te</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div>
        <form #loginForm="ngForm">
          <div class="form-group">
            <label for="last-name">Numele</label>
            <input #lastName="ngModel" [(ngModel)]="user.name.lastName" aria-describedby="lastNameHelp"
                   class="form-control" id="last-name"
                   minlength="3"
                   name="lastName" placeholder="Introdu numele de familie" required type="text">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                 class="alert alert-danger">
              <div *ngIf="lastName.errors.required">
                Numele este obligatoriu!
              </div>
              <div *ngIf="lastName.errors.minlength">
                Numele trebuie sa aibe cel putin 3 caractere!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="first-name">Prenumele</label>
            <input #firstName="ngModel" [(ngModel)]="user.name.firstName" aria-describedby="firstNameHelp"
                   class="form-control" id="first-name"
                   minlength="3"
                   name="firstName" placeholder="Introdu prenumele" required type="text">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                 class="alert alert-danger">
              <div *ngIf="firstName.errors.required">
                Prenumele este obligatoriu!
              </div>
              <div *ngIf="firstName.errors.minlength">
                Prenumele trebuie sa aibe cel putin 3 caractere!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input #email="ngModel" [(ngModel)]="user.email" aria-describedby="emailHelp" class="form-control"
                   id="email" minlength="6"
                   name="email"
                   pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                   placeholder="Introdu adresa de email" required
                   type="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Emailul este obligatoriu!
              </div>
              <div *ngIf="email.errors.pattern">
                Emailul trebuie sa fie valid!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Parola</label>
            <input #password="ngModel" [(ngModel)]="user.password" aria-describedby="emailHelp" class="form-control"
                   id="password"
                   minlength="6"
                   name="password" placeholder="Introdu parola" required
                   type="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Parola este obligatoriu!
              </div>
              <div *ngIf="password.errors.minlength">
                Parola trebuie sa aibe minim 6 caractere!
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <button (click)="signUp()" [disabled]="loginForm.invalid" class="btn btn-primary">Inregistreaza user
            </button>
            <button class="btn btn-secondary ml-2" routerLink="/login">Contecteaza-te
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
