<div class="container" style="margin-top: 70px;">
  <div>
    <h2 class="text-center">Acceseaza testul dorit</h2>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <form #accesForm="ngForm">
          <div class="form-group">
            <label for="id">Test ID*</label>
            <input #id="ngModel" [(ngModel)]="testId" aria-describedby="idHelp" class="form-control" id="id" name="id"
                   placeholder="Introdu id-ul testului"
                   required type="text">
            <div *ngIf="id.invalid && (id.dirty || id.touched)"
                 class="alert alert-danger">
              <div *ngIf="id.errors.required">
                Id-ul este obligatoriu!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="last-name">Numele*</label>
            <input #lastName="ngModel" [(ngModel)]="currentUser.name.lastName" class="form-control" id="last-name"
                   name="lastNamme" type="text"
                   aria-describedby="lastNameHelp" placeholder="Introdu numele de familie" required minlength="3">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                 class="alert alert-danger">
              <div *ngIf="lastName.errors.required">
                Numele de familie este obligatoriu!
              </div>
              <div *ngIf="lastName.errors.minlength">
                Numele de familie trebuie sa aiba cel putin 3 caractere!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="first-name">Prenumele*</label>
            <input #firstName="ngModel" [(ngModel)]="currentUser.name.firstName" class="form-control" id="first-name"
                   name="firstName" type="text"
                   aria-describedby="firstNameHelp" placeholder="Introdu prenumele" required minlength="3">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                 class="alert alert-danger">
              <div *ngIf="firstName.errors.required">
                Prenumele este obligatoriu!
              </div>
              <div *ngIf="firstName.errors.minlength">
                Prenumele trebuie sa aiba putin 3 caractere!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email*</label>
            <input #email="ngModel" [(ngModel)]="currentUser.email" class="form-control" id="email" name="email"
                   pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                   placeholder="Introdu adresa ta de email"
                   aria-describedby="emailHelp" required minlength="3"
                   required type="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Emailul este obligatoriu!
              </div>
              <div *ngIf="email.errors.pattern">
                Emailul trebuie sa fie valid!
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary" [disabled]="accesForm.invalid" (click)="goToTest()">Acceseaza test</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
