<div class="container" style="margin-top: 70px;">
  <div>
    <h2 class="text-center">Reseteaza parola</h2>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form #resetForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input #email="ngModel" [(ngModel)]="emailToReset" aria-describedby="emailHelp" class="form-control"
                 id="email" minlength="6"
                 name="email"
                 pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                 placeholder="Introdu adresa de email" required
                 type="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Emailul este obligatoriu!
            </div>
            <div *ngIf="email.errors.pattern">
              Emailul trebuie sa fie valid!
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <button (click)="resetPassword()" [disabled]="resetForm.invalid" class="btn btn-primary">Reseteaza parola
          </button>
          <button class="btn btn-secondary ml-2" routerLink="/login">Contecteaza-te
          </button>
        </div>
        <div *ngIf="emailIsSent" class="mt-5 text-center">
          <ngb-alert (close)="close()" [type]="'success'">Un email pentru resetarea parolei a fost trimis la adresa
            indicata!
          </ngb-alert>
        </div>
      </form>
    </div>
  </div>
</div>
